* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(161, 0, 0, 0.3);
  color: rgba (0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding: 1rem;
}

.card {
  background: rgba(252, 252, 252, 1);
  width: 100%;
  max-width: 440px;
  display: flex;
  flex-direction: column;
}
