* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(161, 0, 0, 0.3);
  color: rgba (0, 0, 0, 1);
  padding-bottom: 4rem;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-img {
  width: 100%;
  object-fit: cover;
  border: 1px solid rgba(252, 252, 252, 1);
}

.card {
  background: rgba(252, 252, 252, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 3rem 4rem;
}

h1 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1;
  color: rgba(161, 0, 0, 1);
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  background: rgba(235, 235, 235, 1);
  padding: 1rem;
}

ul,
ol {
  list-style-position: inside;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pancake-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.pancake-images img {
  width: 100%;
  object-fit: cover;
  background-color: rgba(217, 217, 217, 1);
}
